.warper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-space) ;
    background-color: #ccc;
}
.content {
    flex: 1;
}